<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 m-5">
            <mat-card>
                <h1>Angular Rocks!</h1>
                <p><strong>Angular Rocks! 0.6 Beta</strong> ha sido desarrollada por Jose Antonio García López en Mayo de 2021 como parte del proceso de selección para el puesto de desarrollador frontend en KUBIDE</p>
                <p>Para cualquier duda o consulta: <a href="mailto:joseantonio.garcia.lopez.alu@iesjulioverne.es">joseantonio.garcia.lopez.alu@iesjulioverne.es</a></p>
            </mat-card>
        </div>
    </div>
</div>